@model IEnumerable<DeanAndSons.Models.Property>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            Buyer
        </th>
        <th>
            Seller
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Forename) 
                @Html.DisplayFor(modelItem => item.Buyer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.Forename) 
                @Html.DisplayFor(modelItem => item.Seller.Surname)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditIMS", new { id = item.PropertyID }) |
                <a id=@item.PropertyID class="deleteProp" href="#deleteModal" data-toggle="modal" data-target="#deleteModal">Delete</a>
            </td>
        </tr>
    }

</table>