@model IEnumerable<DeanAndSons.Models.Property>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            Buyer
        </th>
        <th>
            Seller
        </th>
        <th class="col-md-1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.SaleState)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Buyer.Forename) 
                @Html.DisplayFor(modelItem => item.Buyer.Surname)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Seller.Forename) 
                @Html.DisplayFor(modelItem => item.Seller.Surname)
            </td>
            <td class="col-md-2">
                <a id=@item.PropertyID class="deleteProp btn btn-danger btn-sm pull-right" href="#deleteModal" data-toggle="modal" data-target="#deleteModal">Delete</a>
                @Html.ActionLink("Edit", "EditIMS", new { id = item.PropertyID }, new { @class = "btn btn-default btn-sm pull-right", role = "button" })
                @if (User.IsInRole("Admin"))
                {
                    @Ajax.ActionLink("PD", "Delete", "Propertys", new { id = item.PropertyID }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-danger btn-xs pull-right" })
                }
            </td>
        </tr>
    }

</table>