@using DeanAndSons.Models.WAP.ViewModels
@model PropertyDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Custom/Carousel.css" rel="stylesheet" />
<link href="~/Content/Custom/PropertyDetailsWAP.css" rel="stylesheet" />

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Property Details</p>
            </div>

        </header>
    </div>
</div>

<div class="container-fluid dc-bar1">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.Title - @Model.Type - £@Model.Price</h2>
                @if (!Request.IsAuthenticated)
            {
                    <a id="savePropertyAnon" class="btn btn-success btn-sm pull-right" href="#">Add To Temporary Favourites</a>
                }
                else if (ViewBag.IsCustomer)
                {
                    <a id="saveProperty" class="btn btn-success btn-sm pull-right" href="#">Add To Favourites</a>
                }

                @Html.HiddenFor(p => p.PropertyID)
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!-- Bootstrap Carousel for images -->
                <div id="propertyImages" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#propertyImages" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#propertyImages" data-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            var count = 0;

                            foreach (var item in Model.Images)
                            {
                                if (count == 0)
                                {
                                    <div class="item active">
                                        <img class="img-responsive" src="@item.Location" alt="A property Picture">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img class="img-responsive" src="@item.Location" alt="A property Picture">
                                    </div>
                                }
                                count++;
                            }
                        }
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#propertyImages" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#propertyImages" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">

                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Storage/Global/bed.png" class="img-responsive dc-PropWAPIcon" alt="Bed image" />
                    </div>
                    <div class="col-xs-8 dc-PropWAPIconText">
                        @Model.NoBedRms
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Storage/Global/bathroom.png" class="img-responsive dc-PropWAPIcon" alt="Bed image" />
                    </div>
                    <div class="col-xs-8 dc-PropWAPIconText">
                        @Model.NoBathRms
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Storage/Global/Sofa.png" class="img-responsive dc-PropWAPIcon" alt="Bed image" />
                    </div>
                    <div class="col-xs-8 dc-PropWAPIconText">
                        @Model.NoSittingRms
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid dc-bar2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Details</h2>
            </div>
        </div>

        <div class="row dc-rows">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Address:</h4>
                    </div>
                    <div class="col-md-12">
                        <p>
                            @Model.PropertyNo @Model.Street, @Model.Town, @Model.PostCode
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Information:</h4>
                    </div>
                    <div class="col-md-12">
                        <p>
                            This property is a @Model.Type of the @Model.Style variety and is categorised in the @Model.Age age range.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid dc-bar1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Description</h2>
            </div>
        </div>

        <div class="row dc-rows">
            <div class="col-md-12">
                <p>
                    @Html.Raw(Model.Description)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br />
                <p>
                    For further information on this property please contact @Model.Forename @Model.Surname at
                    <a href="mailto:@Model.Email?Subject=Property%20Enquiry" target="_top">@Model.Email</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Property List", "Index", new { }, new { @class = "btn btn-default text-center dc-btn-space", role = "button" })
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Custom/FavouriteProperty.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}