@using DeanAndSons.Models.WAP.ViewModels
@using PagedList.Mvc
@model PagedList.IPagedList<PropertyIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var catsel = "" + @ViewBag.CurrentSort
</script>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Custom/IndexSort.js"></script>



<h2>Properties</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* ********** Sort and Search Bar ********** *@

<div class="row">
    @using (Ajax.BeginForm("Index", "Propertys", new { currentFilter = ViewBag.CurrentFilter },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "indexList"//,
                                    //OnComplete = ""
                                }))
    {
        <div class="col-md-2 col-xs-6">
            @Html.DropDownList("CategorySort", null, new { @class = "form-control", onchange = "$(this.form).submit()" })
        </div>

        <div class="col-md-2 col-xs-6">
            @Html.DropDownList("OrderSort", null, new { @class = "form-control", onchange = "$(this.form).submit()" })
        </div>
        <div class="col-md-8">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { id = "search", @class = "form-control", placeholder = "Search by property title" })
        </div>
    }
</div>

@* ********** Property List ********** *@
<div id="indexList">

    @Html.Partial("_IndexList", Model)

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}