@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity
@using DeanAndSons.Models.WAP.ViewModels
@using PagedList.Mvc
@model PagedList.IPagedList<PropertyIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var catsel = "" + @ViewBag.CurrentSort
</script>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Custom/IndexSort.js"></script>

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Property Index</p>
            </div>

        </header>
    </div>
</div>

<div class="container body-content">

    @* ********** Sort and Search Bar ********** *@
    <div class="row dc-search">
        @using (Ajax.BeginForm("Index", "Propertys", new { currentFilter = ViewBag.CurrentFilter },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "GET",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "indexList"//,
                                                                            //OnComplete = ""
                                            }))
        {
            <div class="row">
                <div class="col-md-6">

                    <label class="control-label col-md-3 dc-rows">Location</label>
                    <div class="col-md-9">

                        @Html.DropDownList("Location", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Min Price</label>
                    <div class="col-md-9">
                        @Html.DropDownList("MinPrice", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Beds</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Beds", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Category Sort</label>
                    <div class="col-md-9 col-xs-6">
                        @Html.DropDownList("CategorySort", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Sale State</label>
                    <div class="col-md-9 col-xs-6">
                        @Html.DropDownList("SaleState", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                </div>

                <div class="col-md-6">

                    <label class="control-label col-md-3 dc-rows">Radius</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Radius", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Max Price</label>
                    <div class="col-md-9">
                        @Html.DropDownList("MaxPrice", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Age</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Age", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                    <label class="control-label col-md-3 dc-rows">Order Sort</label>
                    <div class="col-md-9 col-xs-6">
                        @Html.DropDownList("OrderSort", null, new { @class = "form-control dc-rows", onchange = "$(this.form).submit()" })
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { id = "search", @class = "form-control dc-rows", placeholder = "Search by property title" })
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            @{
                if (ViewBag.IsCustomer)
                {
                    <a id="savePS" class="btn btn-success btn-sm pull-right dc-rows" href="#">Save Search</a>
                }
            }
        </div>
    </div>

    @* ********** Property List ********** *@
    <div id="indexList">

        @Html.Partial("_IndexList", Model)

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Custom/SavePropertySearch.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}