@model IEnumerable<DeanAndSons.Models.WAP.Event>

<table class="table">
    <tr>
        <th>
            Staff Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffOwner.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditIMS", new { id = item.EventID }) |
                <a id=@item.EventID class="deleteEvent" href="#deleteModal" data-toggle="modal" data-target="#deleteModal">Delete</a>
            </td>
        </tr>
    }
</table>