@using DeanAndSons.Models.Global.ViewModels
@model ProfileStaffDetailsViewModel

@{
    ViewBag.Title = "ProfileDetails";
}

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Profile Details</p>
            </div>

        </header>
    </div>
</div>

<div class="container">
    <div class="row">
        @* ********** Image ********** *@
        <div class="col-md-3">
            <img src="@Model.Image.Location" class="img-responsive center-block dc-profileImg" alt="@Model.Surname image" />
        </div>

        @* ********** Body ********** *@
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.UserNameDisp</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Name: @Model.Forename @Model.Surname</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Email: @Model.Email</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Location: @Model.Contact.Town</p>
                </div>
            </div>

        </div>

    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Properties Owned...</h2>
        </div>
    </div>

    <div class="row">

        @foreach (var item in Model.PropertysOwned)
        {
            @Html.Partial("_PropertyProfile", item)
        }

    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Services Owned...</h2>
        </div>
    </div>

    <div class="row">

        @foreach (var item in Model.ServicesOwned)
        {
            @Html.Partial("_PropertyProfile", item)
        }

    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Events Owned...</h2>
        </div>
    </div>

    <div class="row">

        @foreach (var item in Model.EventsOwned)
        {
            @Html.Partial("_PropertyProfile", item)
        }

    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Edit", "ProfileEdit", new { userId = Model.ID }, new { @class = "btn btn-default pull-right", role = "button" })
        </div>
    </div>
</div>