@using DeanAndSons.Models.Global.ViewModels
@model ProfileCustDetailsViewModel

@{
    ViewBag.Title = "ProfileDetails";
}

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Profile Details</p>
            </div>

        </header>
    </div>
</div>

<div class="container">
    <div class="row">
        @* ********** Image ********** *@
        <div class="col-md-3">
            <img src="@Model.Image.Location" class="img-responsive center-block dc-profileImg" alt="@Model.Surname image" />
        </div>

        @* ********** Body ********** *@
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.UserNameDisp</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Name: @Model.Forename @Model.Surname</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Email: @Model.Email</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Location: @Model.Contact.Town</p>
                </div>
            </div>

        </div>

    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Find me a property that...</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <p>Starts at £@Model.BudgetLower </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Has @Model.PrefNoBedRms bed rooms </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Of roughly @Model.PrefPropertyAge age </p>
                </div>
            </div>

        </div>
        
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <p>and goes up to £@Model.BudgetHigher </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Has @Model.PrefNoBathRms bath rooms </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Is in the style of a @Model.PrefPropertyStyle </p>
                </div>
            </div>

        </div>
        
    </div>

    <hr />

    <div class="row">

        <div class="col-md-12">
            <h3>Saved Searches</h3>
            @Html.Partial("_SaveSearches", Model.SavedSearches)
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-md-12">
            <h3>Favourite Properties</h3>
            @Html.Partial("_FavProperties", Model.SavedProperties)
        </div>

    </div>

    <hr />

    @{
        if (Model.ID == Model.CurrentUserID)
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Messages", "Index", "Conversations", new { userId = Model.ID }, new { @class = "btn btn-default pull-left", role = "button" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "ProfileEdit", new { userId = Model.ID }, new { @class = "btn btn-default pull-right", role = "button" })
                </div>
            </div>
        }
    }

    @* ********** START Delete Section ********** *@

    @*Modal*@
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            @*Modal content*@
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Item</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to permanently delete this item?</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "Account", new { id = 123456789 }, FormMethod.Post, new { id = "deleteForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-6">
                            <a id="cancelDelete" class="btn btn-default btn-block">Cancel</a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-danger btn-block">Permanently Delete</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/Custom/DeleteModal.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}