@model IEnumerable<DeanAndSons.Models.WAP.Service>

<table class="table">
    <tr>
        <th>
            Staff Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffOwner.Forename)
                @Html.DisplayFor(modelItem => item.StaffOwner.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                <a id=@item.ServiceID class="deleteStaff btn btn-danger btn-sm pull-right" href="#deleteModal" data-toggle="modal" data-target="#deleteModal">Delete</a>
                @Html.ActionLink("Edit", "EditIMS", new { id = item.ServiceID }, new { @class = "btn btn-default btn-sm pull-right", role = "button" })
                @if (User.IsInRole("Admin"))
                {
                    @Ajax.ActionLink("PD", "Delete", "Services", new { id = item.ServiceID }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-danger btn-xs pull-right" })
                }
            </td>
        </tr>
    }
</table>