@using DeanAndSons.Models.WAP.ViewModels
@model ServiceDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Custom/Carousel.css" rel="stylesheet" />


@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Service Details</p>
            </div>

        </header>
    </div>
</div>


<div class="container-fluid dc-bar1">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.Title</h2>
                @*<h3>@Model.SubTitle</h3>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!-- Bootstrap Carousel for images -->
                <div id="propertyImages" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Images.Count - 1; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#propertyImages" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#propertyImages" data-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            var count = 0;

                            foreach (var item in Model.Images.Where(i => i.Type == DeanAndSons.Models.ImageType.ServiceBody))
                            {
                                if (count == 0)
                                {
                                    <div class="item active">
                                        <img class="img-responsive" src="@item.Location" alt="A service Picture">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img class="img-responsive" src="@item.Location" alt="A service Picture">
                                    </div>
                                }
                                count++;
                            }
                        }
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#propertyImages" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#propertyImages" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="container-fluid dc-bar2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Details</h2>
                </div>
                <div class="col-md-12">
                    @Html.Raw(Model.Description)
                    @*<p>@Model.Description</p>*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        For further information on this service please contact @Model.ForeName @Model.Surname at
                        <a href="mailto:@Model.Email?Subject=Customer%20Service%20Enquiry" target="_top">@Model.Email</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Back", "IndexCustomer", new { }, new { @class = "btn btn-default text-center", role = "button" })
                </div>
            </div>
        </div>
    </div>
