@model DeanAndSons.Models.CMS.ViewModels.ServiceEditCMSViewModel

@{
    ViewBag.Title = "EditCMS";
}

<link href="~/Content/Custom/Carousel.css" rel="stylesheet" />

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Edit Service Content - CMS</p>
            </div>

        </header>
    </div>
</div>

<div class="container body-content">

    @using (Html.BeginForm("EditCMS", "Services", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ServiceID)
            @Html.HiddenFor(model => model.Title, new { id = "hTitle" })
            @Html.HiddenFor(model => model.Description, new { id = "hDescription" })

            <div class="form-group">
                <div class="col-md-12">
                    <h1 id="titleDisp" class="edit">@Model.Title</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <!-- Bootstrap Carousel for images -->
                    <div id="propertyImages" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.ImagesProp.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#propertyImages" data-slide-to="0" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#propertyImages" data-slide-to="@i"></li>
                                }
                            }
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @{
                                var count = 0;

                                foreach (var item in Model.ImagesProp)
                                {
                                    if (count == 0)
                                    {
                                        <div class="item active">
                                            <img class="img-responsive" src="@item.Location" alt="An Service Picture">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <img class="img-responsive" src="@item.Location" alt="An Service Picture">
                                        </div>
                                    }
                                    count++;
                                }
                            }
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#propertyImages" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#propertyImages" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="descriptionDisp" class="edit">
                        <p>@Model.Description</p>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        For further information on this service please contact @Model.Forename @Model.Surname at
                        <a href="mailto:@Model.Email?Subject=Service%20Enquiry" target="_top">@Model.Email</a>
                    </p>
                </div>
            </div>

            @* ********** Image Info ********** *@

            <h3>Change Images</h3>
            <hr />

            <div class="col-md-12">
                @Ajax.ActionLink("Upload More Images...", "MoreImages", "Home", new { },
                   new AjaxOptions
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.InsertAfter,
                       UpdateTargetId = "moreImages"
                   })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Images, "Header Image", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Images, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                </div>
            </div>

            @for (int i = 0; i < 3; i++)
            {
                @Html.Partial("_ImageUpload")
            }

            <div id="moreImages">

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    @Html.ActionLink("Cancel", "IndexCMS", null, new { @class = "btn btn-default" })
                </div>
                <div class="col-md-4">
                    <input id="submit" type="submit" value="Save" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/Custom/EditorCMS.js"></script>
    <script src="~/Scripts/Custom/CMSEditProp.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}